@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
 * {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    --collor-copy: #333;
    --collor-primary: #ffc500;
    --default-padding: 1rem;
    color: var(--collor-copy);
}

body {
    margin: 0;
    padding-top: 7.75rem;
}

/*header,*/
main,
footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;/*quantidade de cor quedesejamos inserir nesta ordem: vermelho, verde,azul e transparencia de 0 a f(em hexadecimal)*/
    color: #fff;
}

.navbar_container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}
.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}

.navbar__links a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}


.navbar__links a:hover {
    color: var(--collor-primary);
}
.logo-studion {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;/*unidade relativa ao tamanho da altura do glifo 0 da fonte*/
    text-transform: uppercase;
    text-align: right;
}

.logo-studion_subtitle {
    font-size: 0.875rem;
    font-weight: 300;

}

.copy-primary {
    color: var(--collor-primary);
}

#slider {
  
    /*padding: var(--default-padding); --padding é a distancia entre a borda da caixa e o conteudo dela*/
    background-color: #000;
    color: #fff;
    /*background-image: url('./images/banner.jpg');
    background-size: cover;/*cover= manter 100% das proporçoes da imagem sem perder qualidade
    background-repeat: no-repeat;
    background-position: center;        essa tecnica é passada, segue uma nova(mais semantica) com suporte em navegadores atuais*/
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);

}
.slide_background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.slide_copy {
    position: absolute;
    top: 6.25rem;;
    left: 50vw;
}

.slide_copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.slide_copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide_copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    color:var(--collor-primary);
    background: unset;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
}
.btn:hover,
.btn:active,
.btn:focus,
.btn_institutional {
    border-color: var(--collor-primary);
    background-color: var(--collor-primary);
    color: #fff;
}

#counter {
    background-color: var(--collor-primary);
    color: #fff;
    text-transform: uppercase;
}

.counter_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter_container h3 {
    font-size: 2.1875rem;
}   

.counter_container h3 small {
    display: block;
    font-size: 1.25rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem 0;
}

.institutional_image {
    max-width: 550px;
}

.institutional_copy {
    padding: 0 1.875rem 0 0;
}

.institutional_copy h6 {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.institutional_copy h4 {
    font-size: 1.5625rem;
    margin: 0;
}

.institutional p {
    font-family:    'Roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-top: 100px;
    margin-bottom: 2.5rem;

}

.btn_institutional:hover {
    color: var(--collor-copy);
    background: unset;
    box-shadow: 0 1rem 1rem #0006;
}

.quote {
    background-image: url(./images/parallax.jpg);
    background-attachment: fixed;/*paralax,fixar imagem no fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quote_container {
    display: grid;
    align-items: center;/*alinhar na vertical*/
    justify-items: end;/*alinhar na horizontal*/
    min-height: 92vh;
}
.quote_copy {
    background-color: #ffff;
    padding: 5.625rem 4.375rem;
}

.quote_copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;/*espaçamento entre as letras*/
    line-height: 1.4375rem;
    max-width: 53ch;
    text-transform: uppercase;
    margin: 0;
}

.quote_copy h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -0.1875;
    margin: 1.875rem 0;
}

.quote_copy h2 span {
    display: block;
}

.btn-quote {
    color: var(--collor-copy);
    border-color: var(--collor-copy);
    background: unset;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 5.25rem 0 3.75rem o;
}

.footer .logo-studion{
    justify-self: start;
    margin: 0;
}

.logo-studion_subtitle {
    display: block;
}

.footer_form {
    display: grid;
    place-items: center;
    grid-template-columns: 10ch auto;
    gap: 1.25rem;
}

.footer_form label {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
}

.footer_email {
    display: grid;
    grid-template-columns: auto 3.375rem;
    width: 100%;
}

.footer_form input {
    background-color: var(--collor-primary);
    border: unset;
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer_form input::placeholder{
    color: #000;
}

.footer_form input:focus {
    outline: unset;
}

.footer_form button {
    cursor: pointer;
    border: unset;
    height: 100%;
    transition: 3s all ease;
}

.footer_form button:hover {
    color: #fff;
    background-color:var(--collor-copy);
}

.footer_social {
    justify-self: end;
    color:#fff;
}

.footer_social a,
.footer_social a:visited,
.footer_social a:active {
    color:#fff;
    margin: 0.2rem;
}

footer_social a .fa-stack,
.footer_social a:visited .fa-stack,
.footer_social a:active .fa-stack{
    color:#000;
}

.footer hr {
    border-color: #fff4;
    margin: 3.5rem  2rem;
}

.footer p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 2.5rem 0;
}